<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825198237007-9a8oq8m1ouolag0vp366llubt06mannr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825198237007-9a8oq8m1ouolag0vp366llubt06mannr</string>
	<key>API_KEY</key>
	<string>AIzaSyDub8jGAiBkkq-FOXszjq9e72KRPz6kgtA</string>
	<key>GCM_SENDER_ID</key>
	<string>825198237007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsChat</string>
	<key>PROJECT_ID</key>
	<string>lets-chat-aeb6f</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-chat-aeb6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825198237007:ios:10ce94db3c1d0c672b613a</string>
</dict>
</plist>